<h1><%= @user.name %>'s Favorite Artwork</h1>

<div class="row">
  <% @artworks.each do |artwork| %>
  <div class="art col-4" id=<%= "#{artwork.id}" %> >
    <div class="small-frame">
      <img src= <%= "#{artwork.url}" %> alt= <%= "#{artwork.title}" %> >
      <h4><%= link_to artwork.title, "/dashboard/artworks/#{artwork.id}" %></h4>
    </div>
  </div>
  <% end %>
</div>
