<h1> <%= @artwork.title %> </h1>
<div class="large-frame">
  <img src= <%= "#{@artwork.url}" %> alt= <%= "#{@artwork.title}" %> >
</div>
<div class="row">
  <div class="col-6">
    <h3><%= link_to @artwork.artist, @artwork.artist_url %></h3>
  </div>
  <% if @artwork.liked == 'true' %>
    <div class="col-6">
      <h3>Added to Liked | <%= link_to 'Remove', "/dashboard/artworks/#{@artwork.id}", method: :patch %></h3>
    </div>
  <% elsif @artwork.liked == 'false' %>
    <div class="col-6">
      <h3>Removed from Liked | <%= link_to 'Add to Liked', "/dashboard/artworks/#{@artwork.id}", method: :patch %></h3>
    </div>
  <% else %>

  <% end %>
</div>
