<h1> <%= @artwork.title %> </h1>
<div class="large-frame">
  <img src= <%= "#{@artwork.url}" %> alt= <%= "#{@artwork.title}" %> >
</div>

<% if @artwork.liked == 'unrated' %>
<div class="question">
  <h2>How do you like this artwork?</h2>
  <div class="rating">
    <h3><%= link_to 'Like', "/dashboard/artworks/#{@artwork.id}?liked=true", method: :patch %> | <%= link_to 'Dislike', "/dashboard/artworks/#{@artwork.id}?liked=false", method: :patch %></h3>
  </div>
</div>
<% end %>
