<div class="row">
  <div class="col-md-1 mb-1">
    <% if !@liked_art[0].nil? %>
      <img class="rounded-circle z-depth-2" style="width: 50px" alt="profile picture" src=<%= @liked_art[0].url %>
      data-holder-rendered="true">
    <% end %>
  </div>
  <div class="col-md-4 mb-4">
    <h1 class="text-capitalize"><%= @user.name %></h1>
  </div>
</div>
<br><br><br><br>

<div class="frame" style="background-color: black; width: 50%; padding: 2%; margin: 5%;">
  <h2>Todays Curated Art Recommendation</h2>
  <% @recommended_art.each do |art| %>
    <a href="<%= dashboard_artwork_path(art.id) %>"><img src="<%= art.url %>" class="d-block w-100" alt="recommended art" >
    <p><%= art.title %></p>
    <p><%= art.artist %></p>
  <% end %>
</div>

<br><br><br><br><br><br>

<div class="col-8">
  <div style="overflow-x: scroll; overflow-y: hidden; white-space: nowrap;">
    <% total_liked_arts = @liked_art.count %>
    <%0..total_liked_arts.times do |i| %>
    <div class="col-2 align-items-stretch" style="display: inline-block; width: 13rem;">
      <div class="card" style=" width: 12rem;">
          <a href="<%= dashboard_artwork_path(@liked_art[i].id) %>" name="image-<%= i %>" ><img src="<%= @liked_art[i].url %>" class="card-img-top" alt="image-<%= i %>"></a>
        <div class="card-body" style="height: 125px;">
          <blockquote class="blockquote mb-0">
            <p><%= @liked_art[i].title %></p>
            <footer class="blockquote-footer"><cite title="Source Title"><%= @liked_art[i].artist %></cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
    <%end %>
  </div>
</div>
