<div class="row">
  <div class="col-2 avatar">
    <% if !@liked_art[0].nil? %>
    <div class="avatar-frame">
      <img class="rounded-circle" alt="profile picture" src=<%= @liked_art[0].url %>
      data-holder-rendered="true">
    </div>
    <% end %>
  </div>
  <div class="col-md-8 mb-8">
    <h1 class="text-capitalize username"><%= @user.name %></h1>
  </div>
</div>
<br><br><br><br>

<div class="frame">
  <h2 id = 'curated'>Todays Curated Art Recommendation</h2>
  <% @recommended_art.each do |art| %>
    <a href= <%= "#{dashboard_artwork_path(art.id)}" %> id = 'curated-art' ><img src= <%= "#{art.url}" %> class="d-block w-100" alt="recommended art" >
    <p><%= art.title %></p></a>
    <p><%= art.artist %></p>
  <% end %>
</div>

<br><br><br><br><br><br>

<div class="row">
  <div class="carousel">
    <% total_liked_arts = @liked_art.count %>
    <%0..total_liked_arts.times do |i| %>
      <div class="card">
          <a href= <%= "#{dashboard_artwork_path(@liked_art[i].id)}" %> name="image-<%= i %>" ><img src= <%= "#{@liked_art[i].url}" %> class="card-img-top" alt="image-<%= i %>"></a>
        <div class="card-body">
          <h4 class="card-title">
            <%= @liked_art[i].title %>
          </h4>
          <h5 class="card-subtitle"><%= @liked_art[i].artist %></h5>
        </div>
      </div>
    <%end %>
  </div>
</div>
