<div class="row">
  <div class="col-md-1 mb-1">
    <img class="rounded-circle z-depth-2" style="width: 50px" alt="profile picture" src=<%= @liked_art[0].url %>
      data-holder-rendered="true">
  </div>
  <div class="col-md-4 mb-4">
    <h1 class="text-capitalize"><%= @user.name %></h1>
  </div>
</div>
<br><br><br><br>

<div class="frame" style="background-color: black; width: 50%; padding: 2%; margin: 5%;">
  <h2>Todays Curated Art Recommendation</h2>
  <a href="<%= dashboard_artwork_path(@recommended_art.id) %>"><img src="<%= @recommended_art.url %>" class="d-block w-100" alt="recommended art" >
  <p><%= @recommended_art.title %></p>
  <p><%= @recommended_art.artist %></p>
</div>

<!-- <div class="col-6" style="background-color: black;">

  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" style="width:fit-content; height:400px;">
      <div class="carousel-item active">
        <img src= <%= @recommended_art.url %> class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <blockquote class="blockquote mb-0">
            <p><%= @recommended_art.title %></p>
            <p><cite title="Source Title"><%= @recommended_art.artist %></cite> </p>
          </blockquote>
        </div>
      </div>
      <div class="carousel-item">
        <img src=<%= @recommended_art.url %> class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <blockquote class="blockquote mb-0">
            <p><%= @recommended_art.title %></p>
            <p><cite title="Source Title"><%= @recommended_art.artist %></cite> </p>
          </blockquote>
        </div>
      </div>
      <div class="carousel-item">
        <img src=<%= @recommended_art.url %> class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <p><%= @recommended_art.artist %></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
</div> -->


<br><br><br><br><br><br>

<div class="col-8">
  <div style="overflow-x: scroll; overflow-y: hidden; white-space: nowrap;">
    <% total_liked_arts = @liked_art.count %>
    <%0..total_liked_arts.times do |i| %>
    <div class="col-2 align-items-stretch" style="display: inline-block; width: 13rem;">
      <div class="card" style=" width: 12rem;">
          <a href="<%= dashboard_artwork_path(@liked_art[i].id) %>" name="image-<%= i %>" ><img src="<%= @liked_art[i].url %>" class="card-img-top" alt="image-<%= i %>"></a>
        <div class="card-body" style="height: 125px;">
          <blockquote class="blockquote mb-0">
            <p><%= @liked_art[i].title %></p>
            <footer class="blockquote-footer"><cite title="Source Title"><%= @liked_art[i].artist %></cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
    <%end %>
  </div>
</div>
