<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Artspiration</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href=<%= root_path %>>Home</a>
        </li>
        <% if current_user.present? %>
          <li class="nav-item">
            <a class="nav-link" href=<%= dashboard_index_path %>>Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=<%=  '/dashboard/artworks' %>>Liked Artworks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=<%= logout_path %>>Logout</a>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href=<%= "/auth/google_oauth2" %>>Login</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
